:root{
  --principal: #111;
  --secundaria: #fff;
}

body{
    overflow-x: hidden;
    padding: 10px;
    background: var(--principal);
    color: var(--secundaria);
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 2px;
    line-height: 26px;
}

span{
  color: #ffff00;
}

#msg{
  color: red
}

#conteudo div{
  margin-bottom: 10px;
}

input[type="submit"]{
  display: none;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
label {
    margin-right: 10px;
    display: inline-block;
    background-color: transparent;
    padding: 1em 3em;
    font-size: 16px;
    border: 1px solid var(--secundaria);
  }

  #ok + label{
    margin-top: 20px;
  }
  
label:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: #a7a7a7;
    transition: 0.4s;
  }
  
input[type="radio"]:focus + label{
      border: 1px solid transparent;
  }
  
input[type="radio"]:checked + label {
    transition: 0.3s;
    background-color: var(--secundaria);
    color: var(--principal);
  }

  #inputs{
      display: flex;
  }
input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background: transparent;
  border: 1px solid var(--secundaria);
  font-family: 'Press Start 2P', cursive;
  height: 24px;
  width: 200px;
  color: var(--secundaria);
}

button{
  margin-right: 10px;
  padding: 1em 2em;
  background: transparent;
  border: 1px solid var(--secundaria); 
  color: var(--secundaria);
  font-family: 'Press Start 2P', cursive;
  transition: 0.4s;
}

button:hover{
  cursor: pointer;
}

#simbutton{
  color: #00a700;
  border-color: #00a700;
}

#simbutton:hover{
  color: var(--secundaria);
  background: #00a700;
  border-color: var(--secundaria);
}

#naobutton{
  color: red;
  border-color: red;
}
#naobutton:hover{
  color: var(--secundaria);
  background: red;
  border-color: var(--secundaria);
}

input[type="text"]:focus{
    border: 3px;
}

p {
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 10px 0 10px;
    /* letter-spacing: .15em; */
  }
  @keyframes shake{
    0%{transform: translateX(0)}
    25%{transform: translateX(25px);}
    50%{transform: translateX(-25px);}
    100%{transform: translateX(0px);}}