:root{
  --principal: #111;
  --secundaria: #fff;
}

body{
    overflow-x: hidden;
    padding: 10px;
    background: var(--principal);
    color: var(--secundaria);
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 2px;
    line-height: 26px;
}

#msg{
  color: red
}

div{
  margin-bottom: 10px;
}

#conteudo>:first-child{
    width: 194px;
}

#conteudo>:nth-child(2){
  width: 147px;
}


input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
label {
    margin-right: 10px;
    display: inline-block;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid var(--secundaria);
  }
  
label:hover {
    cursor: pointer;
    background-color: #a7a7a7;
    transition: 0.4s;
  }
  
input[type="radio"]:focus + label{
      border: 1px solid transparent;
  }
  
input[type="radio"]:checked + label {
    transition: 0.3s;
    background-color: var(--secundaria);
    color: var(--principal);
  }

  #inputs{
      display: flex;
  }
input[type="text"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background: transparent;
    border: 1px solid var(--secundaria);
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    height: 24px;
    width: 200px;
    color: var(--secundaria);
}

input[type="text"]:focus{
    border: 3px;
}

p {
    padding: 0;
    overflow: hidden;
    border-right: .15em solid var(--secundaria);
    white-space: nowrap;
    margin: 0 10px 0 10px;
    letter-spacing: .15em;
    animation: 
    typing 2.5s steps(20, end),
    blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--secundaria); }
  }

  @keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }